[Unit]
Description=Simple Event Correlator script for event log monitoring
After=syslog.target

[Service]
Type=forking
PIDFile=/run/sec.pid
ExecStart=/bin/bash -c '[ -e /etc/sysconfig/sec ] && . /etc/sysconfig/sec; exec /usr/bin/sec -detach -pid=/run/sec.pid $${SEC_OPTS}'

[Install]
WantedBy=multi-user.target
